.H5FullscreenPage .H5FullscreenPage-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.H5FullscreenPage .item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 700ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
    -webkit-transition: all 700ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
    /*transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;*/
    background-position: center;
}
.H5FullscreenPage .item:not(:first-child ) {
    transform: translate3d(0,100%,0);
    -webkit-transform: translate3d(0,100%,0);
}

.H5FullscreenPage .no-animation {
    transition: none;
    -webkit-transition: none;
}
.H5FullscreenPage .hide {
    display: none;
}
.H5FullscreenPage .overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
}
.H5FullscreenPage .zindex {
    z-index: 99;
}
.H5FullscreenPage .arrow {
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 18px;
    left: 50%;
    margin-left: -10px;
    border-top: 2px solid #5a584e;
    border-left: 2px solid #5a584e;
    z-index: 9999;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    animation: fadeInUp 1.5s .2s ease infinite;
    -webkit-animation: fadeInUp 1.5s .2s infinite;
}
.H5FullscreenPage .parallax.part {
    transition: all .5s;
    transition-timing-function: ease-out;
}
.H5FullscreenPage .parallax-item {
    transition-property: background-position, transform;
    transition-timing-function: ease-out;
    transition-duration: 500ms;

}
.H5FullscreenPage .music {
    position: absolute;
    right: 22px;
    top: 30px;
    width: 35px;
    height: 35px;
    background-image: url('normalmusic.svg');
    background-size: 35px;
    z-index: 99;
}
.H5FullscreenPage .music.play {
    background-image: url('normalmusic.svg');
    -webkit-animation: rotate 3.82s linear infinite;
    animation: rotate 3.82s linear infinite;
}
@keyframes fadeInUp{0%{opacity:0;transform:translateY(-20px) rotate(-135deg)}100%{opacity:1;transform:translateY(0px) rotate(-135deg)}}@-webkit-keyframes fadeInUp{0%{opacity:0;-webkit-transform:translateY(-20px) rotate(-135deg)}100%{opacity:1;-webkit-transform:translateY(0px) rotate(-135deg)}}
@keyframes rotate{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg)}}@-webkit-keyframes rotate{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg)}}